body {
  margin: 0;
  padding: 0;
  background-color: #ccc;
  &:hover {
  	background-color:red;
  }
}

div{
	height:500px;
	width: 500px;
	border:2px solid red;
	p{ color:blue ;font-size: 18px; padding: 10px;}
}